* Reset some default styles *
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

* Global styles *s
body {
    font-family: Arial, sans-serif;
    background-color: #526682;
    color: #199fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #264aac69;
    color: #fff;
}

#projects {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #23325395;
    color: #fff;
}
